*{
    margin: 0px;
    padding: 0px;
}

.flex{
    display: flex;
    justify-content: center;
    gap:1vw
   
    

}

.flex div{

    width: 40px;
    height: 40px;
}

svg{

    width: 40px;
    height: 40px;

}