/* Global styles come from external css https://codepen.io/GreenSock/pen/gOWxmWG */

*{
    padding: 0;
    margin: 0;
    background-color: rgb(199, 242, 243);
}
  

  

.container{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

img{
    width: 37vw;
    height: 12vw;
    left: 33vw;
    top:0;
   
    position: absolute;
}

#containerPartical{
    position: relative;
    width: 95%;
    height: 100%;
    
}

.partical{
    background-color: rgb(29, 88, 139);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}